<!DOCTYPE html>
<html lang="en" x-bind:data-theme="currentTheme" x-data="{currentTheme: 'forest'}">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <%= csrf_meta_tag() %>
    <%= live_title_tag assigns[:page_title] || "Msir", suffix: " · Phoenix Framework" %>
    <link phx-track-static rel="stylesheet" href={Routes.static_path(@conn, "/assets/app.css")}/>
    <script defer phx-track-static type="text/javascript" src={Routes.static_path(@conn, "/assets/app.js")}></script>
  </head>
  <body>
    <header>
      <div class="navbar mb-2 bg-base-300">
        <div class="flex-none px-2 mx-2">
          <a class="text-lg font-bold">
            <span class="text-red-400">
              <i class="fab fa-phoenix-squadron"></i>
              MSIR
            </span>
          </a>
        </div> 
        <div class="flex-1 px-2 mx-2">
          <div class="items-stretch hidden lg:flex">
            <a class="btn btn-ghost rounded-btn">
              Типы организаций
            </a> 
          </div>
        </div>
        <div class="flex justify-end flex-1 px-2">
          <div class="flex items-stretch">
            <%= if function_exported?(Routes, :live_dashboard_path, 2) do %>
              <%= link "LiveDashboard", to: Routes.live_dashboard_path(@conn, :home), class: "btn btn-ghost rounded-btn" %>
            <% end %>
          <div x-data="{open: false}" class="dropdown dropdown-end">
            <div tabindex="0" class="btn btn-ghost" x-on:click="open = ! open">Тема</div>
              <ul tabindex="0" x-show="open" x-cloack class="p-2 w-52 menu dropdown-content bg-base-100 shadow">
                <template x-for="theme in themes" x-data="themes =
                  [
                    'light',
                    'dark',
                    'cupcake',
                    'bumblebee',
                    'emerald',
                    'corporate',
                    'synthwave',
                    'retro',
                    'cyberpunk',
                    'valentine',
                    'halloween',
                    'garden',
                    'forest',
                    'aqua',
                    'lofi',
                    'pastel',
                    'fantasy',
                    'wireframe',
                    'black',
                    'luxury',
                    'dracula',
                    'cmyk'
                  ]"
                >
                  <li>
                    <a tabindex="0" x-text="theme" x-on:click="open = ! open; currentTheme = theme" class="text-base-100"/>
                  </li>
                </template>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </header>

    <%= @inner_content %>

    <footer class="p-4 footer bg-neutral text-neutral-content fixed bottom-0 inset-x-0">
      <div>
        <span class="footer-title">Services</span> 
        <a class="link link-hover">Branding</a> 
      </div> 
      <div>
        <span class="footer-title">Company</span> 
        <a class="link link-hover">About us</a> 
      </div> 
      <div>
        <span class="footer-title">Legal</span> 
        <a class="link link-hover">
          License
        </a> 
      </div>
    </footer>
  </body>
</html>
